/* cartPage.css */



 
  
  .cart button {
    background-color: #4caf50;
    
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .cart button:hover {
    background-color: #45a049;
  }
  
  .cartCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .cartCard1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  
  }
  @media screen and (max-width: 768px) {
    .cartCard {
      grid-template-columns: repeat(1, 1fr);
    }
    
  }
